<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fileShare login</title>
</head>
<body>
    <form action="/login" method="post">
        <label for="fname">Login:</label><br>
        <input type="text" id="fname" name="login"><br>
        <label for="lname">Password:</label><br>
        <input type="password" id="lname" name="passw"><br><br>
        <input type="submit" value="Submit">
    </form>
    <pre style="position: fixed; display: block; bottom: 0;right: 20px; z-index: 400;" onclick="t=0;[0,1,2,1,2,1,0,3,4,5,6,5,6,5,6,0].forEach((i)=>{t++;setTimeout(()=>{this.innerText=[&quot;<`)\n (//\n  1&quot;,&quot;   //\n(`>/\n   1&quot;,&quot;   //\n (`>\n   1&quot;,&quot;<`)//\n (/\n  1&quot;,&quot;<`)\n (\\\\\n  \\&quot;,&quot;<`)//\n (/\n  \&quot;&quot;,&quot;<`)\n (\\\\\n  \&quot;&quot;][i]+&quot;\nbirdiecode&quot; }   , t*500)})">&lt;`)<br> (//<br>  1<br>birdiecode</pre>
</body>
</html>